<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About me Devin Augot</title>
  </head>
  <body>
    <strong
      >Hey, I'm Devin Augot a 3rd semester software dev student at keyin
      college! 👍</strong
    >
    <h1>My Hobbies:</h1>
    <ul>
      <li>1: Programing</li>
      <li>2: Gaming</li>
      <li>3: Fishing</li>
      <li>4: Working out</li>
    </ul>
  </body>
</html>
